html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

%normal_text {
  font: 20px/1.6em $font;
  font-weight: normal;
  letter-spacing: 0.7px;
}

%small_text {
  font: 14px/1.7em $font;
  font-weight: normal;
  letter-spacing: 0.5px;
}

body {
  @extend %normal_text;
}

.small {
  @extend %small_text;
}

.highlight {
  padding: 0.5em 1em;
  border: 0.5px solid;
  white-space: nowrap;
  &:hover {opacity: 0.6;}
  &.strong {
    padding: 0.3em 0.7em;
    border: 2px solid;
    line-height: 1.4em;
    font-weight: 500;
  }
}

h1 {
  font: 50px/1 $font-bold;
  letter-spacing: 7px;
  margin: 0 0 0.4em 0;
  text-align: center;
  &:first-letter {text-transform: uppercase;}
  @include query($mobile-1) {
    padding-right: $x;
    padding-left: $x;
  }
}

h3 {
  @extend %normal_text;
  letter-spacing: 5px;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  &:hover {opacity: 1;}
  &:active {opacity: 0.4;}
  &.active {
    font-face: $font-bold;
  }
}

.formatted {
  a, a:visited {
    font-face: $font;
    font-weight: bold;
    &:hover {opacity: 0.4;}
    &:active {opacity: 0.2;}
  }
  time {
    letter-spacing: 5px;
    opacity: 0.5;
  }
}
