%border-box {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

%clearfix,
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%text_block {
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}

.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.middle_mobile {
  top: inherit;
  transform: none;
  @include query($mobile-1) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.langmenu {
  @extend .highlight;
  margin-top: -0.5em;
  p {
    opacity: 0;
    height: 0;
  }
  p.selected {
    opacity: 1;
    height: auto;
  }
  p.selected:after {
    display: inline-block;
    margin-left: 8px;
    content: url("../assets/triangle.svg");
  }
  &.open {
    p {
      opacity: 1;
      height: auto;
    }
    p:first-child:after {
      transform: rotate(180deg);
      padding-bottom: 1px;
    }
  }
  p {
    margin: 0;
    padding: 0;

  }
  .clicked {
    opacity: 1;
    position: static;
  }

}
body {
  margin: 50px;
  padding: 0;
  overflow-x: hidden;
  @include query($mobile-1) {
    margin: 18px 10px;
  }
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

header, nav {

  menu {
    @extend %border-box;
  }
  ul {
    @extend %border-box;
    margin: 40px 0 93px;
    @include query($mobile-1) {
      padding: 0;
      margin: 0;
    }
  }
  li {
    @extend %border-box;
    display: inline-block;
    list-style: none;
    margin-right: 18px;
    margin-bottom: 10px;
    @include query($mobile-1) {
      display: block;
      padding: 0 25px;
    }
    &.langmenu {
      float: right;
      margin-right: 0;
      @include query($mobile-1) {
      float: none;
      margin: 20px 10px 10px;
      }
    }
    & a.active {
      font-face: $font-bold;
      border-bottom: 1px solid;
    }
    & a {
      opacity: 0.6;
    }
  }
  @include query($mobile-1) {
    li:hover {
      & > ul {display: block; position: static;}
    }
  }
  li:hover > ul {
    height: auto;
    opacity: 1;
    overflow: visible;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
    }
  li > ul {
    -webkit-backdrop-filter: blur(3px);
    height: 0px;
    margin: 0 -15px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    width: auto;
    z-index: -9999;
    li {
      background: rgba(255,255,255,0.7);
      display: block;
      margin: 0;
      padding: 4px 15px;
      white-space: nowrap;
      width: 100%;
      &:first-child {
        padding-top: 7px;
      }
      &:last-child {
        padding-bottom: 7px;
      }
    }
  }
}

header {
  .logo {
    @extend %border-box;
    display: block;
    width: 100%;
    svg {max-width: 200px;}
    @include query($mobile-1) {
      text-align: center;
      margin-bottom: 8px;
      svg {max-width: 150px;}
    }
  }
  ul, li {
    @include query($mobile-1) {
      display: none;
    }
  }
}
article,
.product-list main,
.common main {
  max-width: 1100px;
  margin: 0 auto;
  section {
    margin-top: 70px;
  }
  .box {
    @extend %border-box;
    max-width: 910px;
    margin: 60px auto 0;
    @include query($mobile-1) {
      padding: 0 $x;
    }
    img {
      padding: 0;
      // max-width: 137.5%;
      max-width: 120.9%;
      width: 120.9%;
      // margin-left: -18.75%;
      margin-left: -10.4%;
    }
  }
}
.product {
  h1 {
    text-align: left;
    @include query($mobile-1) {
      text-align: center;
    }
  }
  h1 + .price {
    display: inline-block;
    margin-top: 28px;
    @include query($mobile-1) {
      text-align: center;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 20px;
    }
  }
  section:nth-child(1),
  section:nth-child(3)
   {
    float: right;
    max-width: 350/1100*100%;
  }
  section:nth-child(2) {
    max-width: 700/1100*100%;
    float: left;
    img {width: 100%;}
  }
  section:nth-child(3) {
    margin-top: 45px;
  }
  section:nth-child(4) {
    max-width: 700/1100*100%;
    img {
      max-width: 344/700*100%;
      margin: 0;
      padding: 0;
    }
    img:nth-child(2n+1) {float: left;}
    img:nth-child(2n+2) {float: right;}
  }
  section:nth-child(1n) {
    @include query($mobile-1) {
      float: none;
      max-width: 100%;
      margin: 20px 0 0 0;
    }
  }
  table.details {
    td {vertical-align: top;}
    td:first-child {padding-right: 25px;}
  }
  .description {
    @include query($mobile-1) {
      padding: $x;
    }
  }
}
.frontpage .box {
  @extend %border-box;
  position: relative;
  width: 320px;
  height: 214px;
  margin: 0 0 10px;
  padding: 0;
  h3 {letter-spacing: 0.5px;}
  &:hover {
    .text {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
  @include query($mobile-1) {
    width: 100%;
  }
  .cover {
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute;
  }
  .text {
    @extend %border-box;
    @extend .small;
    background: none;
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 25px 20px;
    transition: opacity 0.3s ease-in-out;
    will-change: opacity;
    .intro {
      margin-top: 1em;
    }
    .intro,
    h3 {
      @include query($mobile-1) {
        opacity: 1;
      }
    }
    @include query($mobile-1) {
      color: #000;
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: 0;
      // background: #fff;
      height: auto;
      width: auto;
      padding: 6px 0 6px 12px;
      &:hover {
        // background: #fff;
      }
      .intro {
        display: none;
      }
    }
  }
}
.socialmedia {
  margin-top: $x;
  a {
    margin-right: 14px;
  }
}
.frontpage {
  main {
    margin: 0 auto;
    max-width: 910px;
    width: 100%;
    @extend %clearfix;
  }
  section {
    @extend %border-box;
    float: left;
    position: relative;
    .box:nth-child(1n+0) {
      width: 100%;
    }
    &:nth-child(1) {
      width: 390/910*100%;
      margin: 0 10px 0 0;
      .box:nth-child(1) {
        max-width: 400px;
        height: 267px;
      }
      .box:nth-child(2) {
        max-width: 400px;
        height: 334px;
        padding: $x;
      }
    }
    &:nth-child(2) {
      width: 500/910*100%;
      .box:nth-child(1) {
        max-width: 330px;
        height: 220px;
        margin-top: 47px;
      }
      .box:nth-child(2) {
        max-width: 500px;
        height: 334px;
      }
    }
    &:nth-child(3) {
      width: 590/910*100%;
      margin: 0 10px 0 0;
      .box:nth-child(1) {
        max-width: 325/590*100%;
        height: 217px;
        margin-left: (590-325)/590*100%;
      }
    }
    &:nth-child(4) {
      width: (910-610)/910*100%;
      .box:nth-child(1) {
        max-width: 275px;
        height: 183px;
      }
      .box:nth-child(2) {
        max-width: 250px;
        height: 168px;
      }
    }
  }
  @include query($mobile-1) {
    section:nth-child(1n+0) {
      width: 100%;
      max-width: 100%;
      height: auto;
      float: none;
      .box:nth-child(1n+0) {
        width: 100%;
        max-width: 100%;
        height: 214px;
        margin: 0 0 10px;
      }
    }
  }
  footer {
    width: 600px;
    padding: 0;
    float: left;
    position: relative;
    margin: -132px 0 $x*2 95px;
    @include query($mobile-1) {
      margin: 0;
      padding: $x;
      float: none;
    }
  }
}

.footer {
  text-align: center;
  margin: 66px auto $x;
  width: auto;
}

.about {
  .description {
    @extend %text_block;
    column-count: 2;
    column-gap: 50px;
    margin-top: 108px;
    margin-bottom: 5px;
    @include query($mobile-1) {
      column-count: 1;
      padding: 0 $x;
    }
  }
  .box {
    @extend %clearfix;
    max-width: 1100px;
    margin-top: 75px;
  }
  .cover {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text {
    @extend %text_block;
    position: relative;
  }
  .intro {
    @extend %small_text;
    margin-top: $x;
    @include query($mobile-1) {
      font-size: 20px;
      line-height: 32/20*1em;
    }
  }
  .box:first-child {
    .cover {
      background-position: center center;
      max-width: 100%;
      height: 442px;
    }
    .text {margin-top: 50px;}
    h3 {
      position: absolute;
      display: block;
      max-width: (910-583)/910*100%;
      width: 100%;
      left: 0;
      text-align: right;
      @include query($mobile-1) {
        text-align: left;
        position: static;
        max-width: 100%;
        padding: 0;
      }
    }
    .intro {
      padding-left: (910-533)/910*100%;
      @include query($mobile-1) {
        padding: 0;
        width: 100%;
      }
    }
  }
  %cover_properties {
    height: 258px;
    max-width: 643/1100*100%;
    width: 100%;
  }
  .box:nth-child(2n+2) {
    @extend %clearfix;
    .cover {
      background-position: right center;
      float: left;
      margin-right: 50/1100*100%;
      @extend %cover_properties;
    }
    .text {
      margin-left: 63%;
    }
  }
  .box:nth-child(2n+3) {
    .cover {
      background-position: left center;
      float: right;
      margin-left: 50/1100*100%;
      @extend %cover_properties;
    }
    .text {
      margin-right: 63%;
    }
  }
  @include query($mobile-1) {
    .box:nth-child(1n) {
      .cover {
        float: none;
        margin: 0 0 40px 0;
        max-width: 100%;
      }
      .text {
        padding: 0 $x;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.blog-list {
  .box {margin-top: 60px;}
}
.common {
  .box {margin-top: 108px;
  @include query($mobile-1) {
    margin-top: 60px;
  }
  }
}

.blog-list,
.common {
  section {
    @extend %clearfix;
    margin-top: 80px;
    .cover {
      max-width: 415/1100*100%;
      img {
        width: 100%;
      }
    }
  }
  .text {
    @extend %text_block;
    }
    section:nth-child(2n+1) {
      .cover {
        float: right;
      }
      .intro {
        margin-right: 365/910*100%;
        max-width: (910-365)/910*100%;
      }
    }
  section:nth-child(2n+2) {
    .cover {float: left;}
    .intro {
      margin-left: 365/910*100%;
      max-width: (910-365)/910*100%;
    }
  }
  section:nth-child(1n) {
    @include query($mobile-1) {
      .cover {
        float: none;
        max-width: 100%;
        width: 100%;
        img {width: 100%;}
      }
      .intro {
        margin: 0;
        padding: $x;
        max-width: 100%;
      }
    }
  }
}
