/* SASS variables: */
/* ------------------- */

.hide {
  display: none;
}

body {
  transition: left 0.3s ease 0s;
  position: relative;
  overflow-x: none;
  left: 0;
}
body.slide {
  left: -140px;
}

.handle {
  line-height: 8px;
  display: none;
  position: fixed;
  top: 25px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  text-align: center;
  z-index: 999;
  transition: all 0.3s ease 0s;
  @include query($mobile-1) {
    display: block;
  }
  &.open {
    color: #fff;
    right: 180px;
    background: #000;
  }
}

time, .category, .center {
  display: block;
  text-align: center;
}
.menu-mobile {
  position: fixed;
  padding: 0;
  width: 140px;
  right: -140px;
  transition: right 0.3s ease 0s;
  overflow-y: auto;
  z-index: 500;
  &.open {right: 0;}
}
.addbutton {
  margin: 0 10px;
}
.nofloat {
  float: none;
}
.price {
  @extend %small_text;
  @extend .highlight;
  @extend .strong;
  display: inline-block;
}

// VOOG SPECIFIC STYLES

.edy-texteditor-container,
.edy-positionable-container-maxwidth {
  // overflow: visible;
  max-width: 120.9% !important;
  margin-left: -10.45%;
  width: 120.9% !important;
  @include query($mobile-1) {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0;
  }
}

.untranslated, .untranslated:visited {
  color: #6A97CB;
  opacity: 1;
}
