// padding
$x: 20px;
// fonts
$font: 'BrandonText', sans-serif;
$font-bold: 'BrandonText-Medium', sans-serif;

// media queries
$desktop-1: 1200px;
$desktop-2: 1100px;
$tablet-1: 960px;
$tablet-2: 820px;
$mobile-1: 720px;
$mobile-2: 320px;

// MEDIA QUERY
@mixin query($value: $tablet-1) {
  @media screen and (max-width: $value) {
    @content;
  }
}
