<!doctype html>
<html class="no-js" lang="">
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">

        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/ico">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- script src="{{ javascripts_path }}/modernizr.js"></script -->

        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/main.css">

        <title></title>
    </head>
    <body class="about">
        <div class="container">
          <h1>Menüü </h1>
          <header>
            <menu>
              <ul class="small">
                <li><a href="#">Esimene</a>
                  <ul>
                    <li><a href="#">Ala 1 wedf aweofj aweojf aweof je</a></li>
                    <li><a href="#">Ala 2</a></li>
                    <li><a href="#">Ala 2</a></li>
                  </ul>
                </li>
                <li><a href="#">Teine</a>
                  <ul>
                    <li><a href="#">Ala 1 wedf aweofj aweojf aweof je</a></li>
                    <li><a href="#">Ala 2</a></li>
                    <li><a href="#">Ala 2</a></li>
                  </ul>
                </li>
                <li><a href="#">Kolmas</a></li>
                <li><a href="#">Neljas</a></li>
                <li class="langmenu">
                    <p><a href="http://google.com" target="_blank">In English</a></p>
                    <p class="selected">Eesti keeles</p>
                </li>
              </ul>
            </menu>
          </header>

          <main class="formatted">

            <section>
              <div class="box">
                <div class="cover" style="background:url('images/buckwheat.jpg');"></div>
                <div class="text">
                  <h3>Title</h3>
                  <div class="intro">te aewt awet aowet awoetoeit aweoti aoewt iaewotiaweotiew towait oeitowiet aoweit weot iweaoit aweot iaweot iaeot iawoetiwaeoit aweoit weoti awoeti aoweti weoti aweoti weaot iaewoti aweoti waeoti aweoti aweoitowe itoweti oweai</div>
                </div>
              </div>
            </section>
            <section>
              <div class="box">
                <div class="cover" style="background:url('images/buckwheat.jpg');"></div>
                <div class="text">
                  <h3>Title 2</h3>
                  <div class="intro">te aewt awet aowet awoetoeit aweoti aoewt iaewotiaweotiew towait oeitowiet aoweit weot iweaoit aweot iaweot iaeot iawoetiwaeoit aweoit weoti awoeti aoweti weoti aweoti weaot iaewoti aweoti waeoti aweoti aweoitowe itoweti oweai</div>
                </div>
              </div>
            </section>
            <section>
              <div class="box">
                <div class="cover" style="background:url('images/buckwheat.jpg');"></div>
                <div class="text">
                  <h3>Title 3</h3>
                  <div class="intro">te aewt awet aowet awoetoeit aweoti aoewt iaewotiaweotiew towait oeitowiet aoweit weot iweaoit aweot iaweot iaeot iawoetiwaeoit aweoit weoti awoeti aoweti weoti aweoti weaot iaewoti aweoti waeoti aweoti aweoitowe itoweti oweai</div>
                </div>
              </div>
            </section>

          </main>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="javascripts/scripts-min.js"></script>

    </body>
</html>
