html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body, h3 {
  font: 20px/1.6em "BrandonText", sans-serif;
  font-weight: normal;
  letter-spacing: 0.7px; }

.small, .frontpage .box .text, .about .intro, .price {
  font: 14px/1.7em "BrandonText", sans-serif;
  font-weight: normal;
  letter-spacing: 0.5px; }

.highlight, .langmenu, .price {
  padding: 0.5em 1em;
  border: 0.5px solid;
  white-space: nowrap; }
  .highlight:hover, .langmenu:hover, .price:hover {
    opacity: 0.6; }
  .highlight.strong, .strong.langmenu, .price {
    padding: 0.3em 0.7em;
    border: 2px solid;
    line-height: 1.4em;
    font-weight: 500; }

h1 {
  font: 50px/1 "BrandonText-Medium", sans-serif;
  letter-spacing: 7px;
  margin: 0 0 0.4em 0;
  text-align: center; }
  h1:first-letter {
    text-transform: uppercase; }
  @media screen and (max-width: 720px) {
    h1 {
      padding-right: 20px;
      padding-left: 20px; } }

h3 {
  letter-spacing: 5px; }

a, a:visited {
  color: inherit;
  text-decoration: none; }
  a:hover, a:visited:hover {
    opacity: 1; }
  a:active, a:visited:active {
    opacity: 0.4; }
  a.active, a:visited.active {
    font-face: "BrandonText-Medium", sans-serif; }

.formatted a, .formatted a:visited {
  font-face: "BrandonText", sans-serif;
  font-weight: bold; }
  .formatted a:hover, .formatted a:visited:hover {
    opacity: 0.4; }
  .formatted a:active, .formatted a:visited:active {
    opacity: 0.2; }
.formatted time {
  letter-spacing: 5px;
  opacity: 0.5; }

header menu, nav menu, header ul, nav ul, header li, nav li, header .logo, article .box,
.product-list main .box,
.common main .box, .frontpage .box, .frontpage .box .text, .frontpage section {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.frontpage main:after, .about .box:after, .about .box:nth-child(2n+2):after, .blog-list section:after,
.common section:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.about .description, .about .text, .blog-list .text,
.common .text {
  max-width: 910px;
  margin-left: auto;
  margin-right: auto; }

.middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.middle_mobile {
  top: inherit;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none; }
  @media screen and (max-width: 720px) {
    .middle_mobile {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }

.langmenu {
  margin-top: -0.5em; }
  .langmenu p {
    opacity: 0;
    height: 0; }
  .langmenu p.selected {
    opacity: 1;
    height: auto; }
  .langmenu p.selected:after {
    display: inline-block;
    margin-left: 8px;
    content: url("../assets/triangle.svg"); }
  .langmenu.open p {
    opacity: 1;
    height: auto; }
  .langmenu.open p:first-child:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    padding-bottom: 1px; }
  .langmenu p {
    margin: 0;
    padding: 0; }
  .langmenu .clicked {
    opacity: 1;
    position: static; }

body {
  margin: 50px;
  padding: 0;
  overflow-x: hidden; }
  @media screen and (max-width: 720px) {
    body {
      margin: 18px 10px; } }

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden; }

header ul, nav ul {
  margin: 40px 0 93px; }
  @media screen and (max-width: 720px) {
    header ul, nav ul {
      padding: 0;
      margin: 0; } }
header li, nav li {
  display: inline-block;
  list-style: none;
  margin-right: 18px;
  margin-bottom: 10px; }
  @media screen and (max-width: 720px) {
    header li, nav li {
      display: block;
      padding: 0 25px; } }
  header li.langmenu, nav li.langmenu {
    float: right;
    margin-right: 0; }
    @media screen and (max-width: 720px) {
      header li.langmenu, nav li.langmenu {
        float: none;
        margin: 20px 10px 10px; } }
  header li a.active, nav li a.active {
    font-face: "BrandonText-Medium", sans-serif;
    border-bottom: 1px solid; }
  header li a, nav li a {
    opacity: 0.6; }
@media screen and (max-width: 720px) {
  header li:hover > ul, nav li:hover > ul {
    display: block;
    position: static; } }
header li:hover > ul, nav li:hover > ul {
  height: auto;
  opacity: 1;
  overflow: visible;
  -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
  z-index: 10; }
header li > ul, nav li > ul {
  -webkit-backdrop-filter: blur(3px);
  height: 0px;
  margin: 0 -15px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
  width: auto;
  z-index: -9999; }
  header li > ul li, nav li > ul li {
    background: rgba(255, 255, 255, 0.7);
    display: block;
    margin: 0;
    padding: 4px 15px;
    white-space: nowrap;
    width: 100%; }
    header li > ul li:first-child, nav li > ul li:first-child {
      padding-top: 7px; }
    header li > ul li:last-child, nav li > ul li:last-child {
      padding-bottom: 7px; }

header .logo {
  display: block;
  width: 100%; }
  header .logo svg {
    max-width: 200px; }
  @media screen and (max-width: 720px) {
    header .logo {
      text-align: center;
      margin-bottom: 8px; }
      header .logo svg {
        max-width: 150px; } }
@media screen and (max-width: 720px) {
  header ul, header li {
    display: none; } }

article,
.product-list main,
.common main {
  max-width: 1100px;
  margin: 0 auto; }
  article section,
  .product-list main section,
  .common main section {
    margin-top: 70px; }
  article .box,
  .product-list main .box,
  .common main .box {
    max-width: 910px;
    margin: 60px auto 0; }
    @media screen and (max-width: 720px) {
      article .box,
      .product-list main .box,
      .common main .box {
        padding: 0 20px; } }
    article .box img,
    .product-list main .box img,
    .common main .box img {
      padding: 0;
      max-width: 120.9%;
      width: 120.9%;
      margin-left: -10.4%; }

.product h1 {
  text-align: left; }
  @media screen and (max-width: 720px) {
    .product h1 {
      text-align: center; } }
.product h1 + .price {
  display: inline-block;
  margin-top: 28px; }
  @media screen and (max-width: 720px) {
    .product h1 + .price {
      text-align: center;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      margin-bottom: 20px; } }
.product section:nth-child(1),
.product section:nth-child(3) {
  float: right;
  max-width: 31.8181818182%; }
.product section:nth-child(2) {
  max-width: 63.6363636364%;
  float: left; }
  .product section:nth-child(2) img {
    width: 100%; }
.product section:nth-child(3) {
  margin-top: 45px; }
.product section:nth-child(4) {
  max-width: 63.6363636364%; }
  .product section:nth-child(4) img {
    max-width: 49.1428571429%;
    margin: 0;
    padding: 0; }
  .product section:nth-child(4) img:nth-child(2n+1) {
    float: left; }
  .product section:nth-child(4) img:nth-child(2n+2) {
    float: right; }
@media screen and (max-width: 720px) {
  .product section:nth-child(1n) {
    float: none;
    max-width: 100%;
    margin: 20px 0 0 0; } }
.product table.details td {
  vertical-align: top; }
.product table.details td:first-child {
  padding-right: 25px; }
@media screen and (max-width: 720px) {
  .product .description {
    padding: 20px; } }

.frontpage .box {
  position: relative;
  width: 320px;
  height: 214px;
  margin: 0 0 10px;
  padding: 0; }
  .frontpage .box h3 {
    letter-spacing: 0.5px; }
  .frontpage .box:hover .text {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out; }
  @media screen and (max-width: 720px) {
    .frontpage .box {
      width: 100%; } }
  .frontpage .box .cover {
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute; }
  .frontpage .box .text {
    background: none;
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 25px 20px;
    -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
    will-change: opacity; }
    .frontpage .box .text .intro {
      margin-top: 1em; }
    @media screen and (max-width: 720px) {
      .frontpage .box .text .intro,
      .frontpage .box .text h3 {
        opacity: 1; } }
    @media screen and (max-width: 720px) {
      .frontpage .box .text {
        color: #000;
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: auto;
        width: auto;
        padding: 6px 0 6px 12px; }
        .frontpage .box .text .intro {
          display: none; } }

.socialmedia {
  margin-top: 20px; }
  .socialmedia a {
    margin-right: 14px; }

.frontpage main {
  margin: 0 auto;
  max-width: 910px;
  width: 100%; }
.frontpage section {
  float: left;
  position: relative; }
  .frontpage section .box:nth-child(1n+0) {
    width: 100%; }
  .frontpage section:nth-child(1) {
    width: 42.8571428571%;
    margin: 0 10px 0 0; }
    .frontpage section:nth-child(1) .box:nth-child(1) {
      max-width: 400px;
      height: 267px; }
    .frontpage section:nth-child(1) .box:nth-child(2) {
      max-width: 400px;
      height: 334px;
      padding: 20px; }
  .frontpage section:nth-child(2) {
    width: 54.9450549451%; }
    .frontpage section:nth-child(2) .box:nth-child(1) {
      max-width: 330px;
      height: 220px;
      margin-top: 47px; }
    .frontpage section:nth-child(2) .box:nth-child(2) {
      max-width: 500px;
      height: 334px; }
  .frontpage section:nth-child(3) {
    width: 64.8351648352%;
    margin: 0 10px 0 0; }
    .frontpage section:nth-child(3) .box:nth-child(1) {
      max-width: 55.0847457627%;
      height: 217px;
      margin-left: 44.9152542373%; }
  .frontpage section:nth-child(4) {
    width: 32.967032967%; }
    .frontpage section:nth-child(4) .box:nth-child(1) {
      max-width: 275px;
      height: 183px; }
    .frontpage section:nth-child(4) .box:nth-child(2) {
      max-width: 250px;
      height: 168px; }
@media screen and (max-width: 720px) {
  .frontpage section:nth-child(1n+0) {
    width: 100%;
    max-width: 100%;
    height: auto;
    float: none; }
    .frontpage section:nth-child(1n+0) .box:nth-child(1n+0) {
      width: 100%;
      max-width: 100%;
      height: 214px;
      margin: 0 0 10px; } }
.frontpage footer {
  width: 600px;
  padding: 0;
  float: left;
  position: relative;
  margin: -132px 0 40px 95px; }
  @media screen and (max-width: 720px) {
    .frontpage footer {
      margin: 0;
      padding: 20px;
      float: none; } }

.footer {
  text-align: center;
  margin: 66px auto 20px;
  width: auto; }

.about .description {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  margin-top: 108px;
  margin-bottom: 5px; }
  @media screen and (max-width: 720px) {
    .about .description {
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1;
      padding: 0 20px; } }
.about .box {
  max-width: 1100px;
  margin-top: 75px; }
.about .cover {
  background-repeat: no-repeat;
  background-size: cover; }
.about .text {
  position: relative; }
.about .intro {
  margin-top: 20px; }
  @media screen and (max-width: 720px) {
    .about .intro {
      font-size: 20px;
      line-height: 1.6em; } }
.about .box:first-child .cover {
  background-position: center center;
  max-width: 100%;
  height: 442px; }
.about .box:first-child .text {
  margin-top: 50px; }
.about .box:first-child h3 {
  position: absolute;
  display: block;
  max-width: 35.9340659341%;
  width: 100%;
  left: 0;
  text-align: right; }
  @media screen and (max-width: 720px) {
    .about .box:first-child h3 {
      text-align: left;
      position: static;
      max-width: 100%;
      padding: 0; } }
.about .box:first-child .intro {
  padding-left: 41.4285714286%; }
  @media screen and (max-width: 720px) {
    .about .box:first-child .intro {
      padding: 0;
      width: 100%; } }
.about .box:nth-child(2n+2) .cover, .about .box:nth-child(2n+3) .cover {
  height: 258px;
  max-width: 58.4545454545%;
  width: 100%; }
.about .box:nth-child(2n+2) .cover {
  background-position: right center;
  float: left;
  margin-right: 4.5454545455%; }
.about .box:nth-child(2n+2) .text {
  margin-left: 63%; }
.about .box:nth-child(2n+3) .cover {
  background-position: left center;
  float: right;
  margin-left: 4.5454545455%; }
.about .box:nth-child(2n+3) .text {
  margin-right: 63%; }
@media screen and (max-width: 720px) {
  .about .box:nth-child(1n) .cover {
    float: none;
    margin: 0 0 40px 0;
    max-width: 100%; }
  .about .box:nth-child(1n) .text {
    padding: 0 20px;
    margin-left: 0;
    margin-right: 0; } }

.blog-list .box {
  margin-top: 60px; }

.common .box {
  margin-top: 108px; }
  @media screen and (max-width: 720px) {
    .common .box {
      margin-top: 60px; } }

.blog-list section,
.common section {
  margin-top: 80px; }
  .blog-list section .cover,
  .common section .cover {
    max-width: 37.7272727273%; }
    .blog-list section .cover img,
    .common section .cover img {
      width: 100%; }
.blog-list section:nth-child(2n+1) .cover,
.common section:nth-child(2n+1) .cover {
  float: right; }
.blog-list section:nth-child(2n+1) .intro,
.common section:nth-child(2n+1) .intro {
  margin-right: 40.1098901099%;
  max-width: 59.8901098901%; }
.blog-list section:nth-child(2n+2) .cover,
.common section:nth-child(2n+2) .cover {
  float: left; }
.blog-list section:nth-child(2n+2) .intro,
.common section:nth-child(2n+2) .intro {
  margin-left: 40.1098901099%;
  max-width: 59.8901098901%; }
@media screen and (max-width: 720px) {
  .blog-list section:nth-child(1n) .cover,
  .common section:nth-child(1n) .cover {
    float: none;
    max-width: 100%;
    width: 100%; }
    .blog-list section:nth-child(1n) .cover img,
    .common section:nth-child(1n) .cover img {
      width: 100%; }
  .blog-list section:nth-child(1n) .intro,
  .common section:nth-child(1n) .intro {
    margin: 0;
    padding: 20px;
    max-width: 100%; } }

/* SASS variables: */
/* ------------------- */
.hide {
  display: none; }

body {
  -webkit-transition: left 0.3s ease 0s;
          transition: left 0.3s ease 0s;
  position: relative;
  overflow-x: none;
  left: 0; }

body.slide {
  left: -140px; }

.handle {
  line-height: 8px;
  display: none;
  position: fixed;
  top: 25px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  text-align: center;
  z-index: 999;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
  @media screen and (max-width: 720px) {
    .handle {
      display: block; } }
  .handle.open {
    color: #fff;
    right: 180px;
    background: #000; }

time, .category, .center {
  display: block;
  text-align: center; }

.menu-mobile {
  position: fixed;
  padding: 0;
  width: 140px;
  right: -140px;
  -webkit-transition: right 0.3s ease 0s;
          transition: right 0.3s ease 0s;
  overflow-y: auto;
  z-index: 500; }
  .menu-mobile.open {
    right: 0; }

.addbutton {
  margin: 0 10px; }

.nofloat {
  float: none; }

.price {
  display: inline-block; }

.edy-texteditor-container,
.edy-positionable-container-maxwidth {
  max-width: 120.9% !important;
  margin-left: -10.45%;
  width: 120.9% !important; }
  @media screen and (max-width: 720px) {
    .edy-texteditor-container,
    .edy-positionable-container-maxwidth {
      max-width: 100% !important;
      width: 100% !important;
      margin: 0; } }

.untranslated, .untranslated:visited {
  color: #6A97CB;
  opacity: 1; }
